# /.docker
# ./.docker
# .docker
# .git
# .github
#
# /.idea
# /.run
# /doc
#
# /logs/*.log
#
# /node_modules
# .env
# .env.*
#
# vksession

/*
!/logs
/logs/*.log

!/node_modules
!/src
!/ormconfig.ts
!/package.json
!/tsconfig.json
